
/* Inner Container */
div.inner-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

/* Nav items */
header div.inner-container nav ul li{
    cursor: pointer;
}
header div.inner-container nav ul li:hover{
    transform: scale(1.1);
    color: rgb(0, 75, 110);
}


/*All Our services Button*/
button.all-services{
    border-radius: 20px;
    height: 40px;
    background-color: rgba(120, 47, 204, 0.7);
    color: white;
}
button.all-services:hover,
button.works:hover{
    transform: scaleY(1.05);
}

/* How it works button */
button.works{
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(112, 112, 112, 0.2);
}
button.works i{
    font-size: 30px;
}

/* Middle items */
img.mid-img{
    width: 80%;
}
div.mid-item{
    background-color: rgba(255, 255, 255);
}

/* Middle item text (1,2,3) */
section.middle div.mid-item h3{
    font-size: 5rem;
    color: rgb(206, 206, 206);
}

/* Working on Bottom image */
img.bottom-img-s{
    height: 100px;
}

/* Bottom Item */
.bottom-item,
.mid-item{
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.2);
}

/* Rounded border */
.give-border{
    border-radius: 20px;
}

/*Articles*/
.article-service{
    width: 30%;
}

/*Sign up form image*/
.big-img-bottom{
    height: 110%;
    border: 1px solid black;
}

/* Head Link in footer */
.head-link{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(0, 39, 49, 0.7);
}


/* For small screen */
@media screen and (max-width: 992px) {
    .article-service{
        width: 45%;
    }
}
@media screen and (max-width: 576px) {
    .article-service{
        width: 90%;
    }
    .nav-bar{
        display: block;
        position: fixed;
        top: 0px; left: 0px;
        padding: 20px 10px;
        width: 100%;
        height: 100vh;
        background-color: white;
        color: black;
    }
    .nav-bar ul{
        flex-direction: column;
    }
    header div.inner-container .nav-bar ul li:hover{
        transform: none;
        font-weight: 700;
    }
}